# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile

# Build directories
/build/
/build-*/

# vcpkg installed libraries
vcpkg_installed/
.vcpkg-root

# IDEs and editors
# CLion
.idea/
*.iml
# JetBrains Rider
.idea/
*.sln
*.csproj
*.csproj.user
# Visual Studio Code
.vscode/

# macOS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Compiled object files
*.obj
*.o
*.lo
*.la
*.al
*.libs
*.a
*.lib
*.ncb
*.sdf
*.pdb
*.idb
*.class

# Static Analysis
.idea
*.iws
*.d
*.orig
*.rej
*.swo
*.swp

# Temporary files
*~
# Backup files
*.bak
*.old
*.org
# Archive files
*.zip
*.tar.gz
*.rar
*.7z
*.tgz
*.tar
*.gz

# Logs and databases
*.log
*.sql
*.sqlite

# Editor and IDE files
# CodeLite
*.project
*.workspace
*.session
*.cls
*.ppg
*.codelite
# Code::Blocks
*.cbp
*.layout
*.depend
*.layout
# Dev-C++
*.dev
*.cpp.obj
*.dll.obj
*.exe.obj
# QtCreator
*.pro.user
*.qbs.user
*.qbs.user.props
*.pro.user.*
*.qmake.stash
*.qmake.cache

# Python
__pycache__/
*.py[cod]

# Other
.vcpkg-root
!cmake-build-debug/

# bin
bin/

# Test Assets
assets/

# Result TGA files
*.tga

# emsdk
emsdk/

# Result PNG files
*.png
